[submodule "OCA/l10n-spain"]
	path = OCA/l10n-spain
	url = git@github.com:OCA/l10n-spain.git
	branch = 16.0

[submodule "OCA/account-financial-tools/account_asset_management"]
	path = OCA/account-financial-tools/account_asset_management
	url = git@github.com:OCA/account-financial-tools.git
	branch = 16.0

[submodule "OCA/reporting-engine/report_xlsx_helper"]
	path = OCA/reporting-engine/report_xlsx_helper
	url = git@github.com:OCA/reporting-engine.git
	branch = 16.0

[submodule "OCA/account-financial-reporting/account_tax_balance"]
	path = OCA/account-financial-reporting/account_tax_balance
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 16.0
